{% set quantity = app.session.get('quantity') %}
{% set orderItems = app.session.get('orderItems') %}
{% set totalPrice = 0 %}
<h4 class="w3-theme w3-round w3-padding-small"><i class="fa fa-shopping-cart"></i> Koszyk {% if quantity is not null %} ({{ quantity }}) <a href="{{ path('clearCart') }}"><i class="fa fa-minus-square-o w3-right w3-hover-border-theme" aria-hidden="true"></i></a>{% endif %}</h4>
<div class="w3-padding">
    {% if quantity is not null and orderItems is not null %}
        {% for orderItem in orderItems %}
            <p><span class="w3-left">{{ orderItem.product.name }} ({{ orderItem.numberOfProducts }})</span> <span class="w3-right">{{ orderItem.numberOfProducts * orderItem.product.defaultPrice }} zł</span></p><br/>
            {% set totalPrice = totalPrice + orderItem.numberOfProducts * orderItem.product.defaultPrice %}
        {% endfor %}
        <span class="w3-left"><b>Razem:</b></span> <span class="w3-right">{{ totalPrice }} zł</span><br/>
        <a href="{{ path('confirmOrder') }}" class="w3-button w3-theme-l3 w3-hover-theme w3-round w3-margin-top">Zamów</a>
    {% else %}
    Koszyk jest pusty
    {% endif %}
</div>