{% extends 'base.html.twig' %}

{% set orderItems = app.session.get('orderItems') %}
{% set totalPrice = 0 %}
{% set message = app.session.get('message') %}

{% block body %}
    <h2>Podsumowanie zamówienia</h2><br/>
    {{ message }}
<table class="w3-table-all w3-round-small">
    <thead>
        <tr class="w3-theme-d3">
            <th>Produkt</th>
            <th>Ilość</th>
            <th class="w3-right" style="margin-right: 50px;">Cena</th>
        </tr>
    </thead>
    <tbody>
    {% for orderItem in orderItems %}
        {% set totalPrice = totalPrice + orderItem.numberOfProducts * orderItem.product.defaultPrice %}
        <tr>
            <td>{{ orderItem.product.name }}</td>
            <td>{{ orderItem.numberOfProducts }}</td>
            <td class="w3-right" style="margin-right: 50px;">{{ (orderItem.numberOfProducts * orderItem.product.defaultPrice) | number_format(2, ',') }} zł</td>
        </tr>
    {% endfor %}
    </tbody>
    <thead><tr>
        <th>Razem</th>
        <th></th>
        <th class="w3-right" style="margin-right: 50px;">{{ totalPrice | number_format(2,',') }} zł</th>
    </tr></thead>
</table>
    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <br/>Aby złożyć zamówienie musisz się <a href="{{ path('fos_user_security_login') }}"><b>zalogować</b></a>
    {% else %}
        <br/>
        <a href="{{ path('test') }}" class="w3-button w3-hover-theme w3-theme-l2 w3-round-small">Zamów</a>
    {% endif %}

{% endblock %}

{% block rightColumn %}
{% endblock %}