
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}fake shop{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/w3.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/w3-theme-blue-grey.css') }}">
    <link rel="stylesheet" href="{{ asset('css/OpenSans.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
        a:hover{
            text-decoration: none;}
    </style>

    {% block stylesheets %}{% endblock %}
    {% block javascripts_head %}
        <script src="{{ asset('js/jquery-3.2.0.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% endblock %}
    <link rel="icon" {#type="image/x-icon"#} href="{{ asset('favicon.ico') }}" />
</head>
<body class="w3-theme-l5">

{# Navbar #}
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
        <a href="{{ path('homepage') }}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>home</a>
        {# admin panel #}
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin') }}" class="w3-bar-item w3-button w3-padding-large "><i class="fa fa-cog fa-spin w3-margin-right"></i>admin</a>
        {% endif %}
        <div class="w3-right">
            {# user not logged in - allow login and register #}
            {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('fos_user_security_login') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-small w3-hover-white">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                <a href="{{ path('fos_user_registration_register') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-small w3-hover-white">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
            {# user is logged in #}
            {% else %}
                <a href="{{ path('fos_user_profile_show') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-small w3-hover-white"><i class="fa fa-user-o"></i> {{ app.user.username }}</a>
                <a href="{{ path('fos_user_security_logout') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-small w3-hover-white"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
    </div>
</div>

{# navbar on small screens #}
<div id="navMobile" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">#</a>
    {# user not logged in - allow login and register #}
    {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('fos_user_security_login') }}" class="w3-bar-item w3-button w3-padding-large">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        <a href="{{ path('fos_user_registration_register') }}" class="w3-bar-item w3-button w3-padding-large">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
        {# user is logged in #}
    {% else %}
        <a href="{{ path('fos_user_profile_show') }}" class="w3-bar-item w3-button w3-padding-large"><i class="fa fa-user-o"></i> {{ app.user.username }}</a>
        <a href="{{ path('fos_user_security_logout') }}" class="w3-bar-item w3-button w3-padding-large"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>


<script>
    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
        var x = document.getElementById("navMobile");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    {# The grid #}
    <div class="w3-row">
        {# left column #}
        <div class="w3-col m3 w3-hide-medium w3-hide-small">
            {# Lorem ipsum left col #}
            {% block leftColumn %}
            <div class="w3-card-2 w3-round w3-white">
                <h4 class="w3-center w3-theme-d1 w3-round w3-padding-small">Lorem ipsum</h4>
                <div class="w3-container">
                    <p class="w3-center w3-padding-large"><img src="{{ asset('img/business.jpg') }}" class="w3-circle" style="height:106px;width:106px"/></p>
                    <p style="text-align:justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in enim finibus, sodales risus sit amet, tempor lectus. Aliquam ut odio nisl. Donec sed ultricies risus. Mauris id nulla erat. Maecenas luctus porttitor augue et luctus. Donec at odio pulvinar, placerat mi quis, finibus lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a arcu feugiat, pretium nulla nec, tincidunt mauris. Nullam tempor sit amet velit et vestibulum. Mauris iaculis molestie nisi, a malesuada ante posuere nec. </p>
                </div>
            </div>
            {% endblock %}
            {# end of left column #}
        </div>

        {# Middle Column #}
        <div class="w3-col m7 w3-animate-bottom">
            <div class="w3-row-padding">
                <div clas="w3-col m12">
                    <div class="w3-container w3-padding">
                        {% block content %}{% endblock %}
                        <div class="w3-card-2 w3-round w3-white w3-padding">
                        {% block body %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            {# end of middle column #}
        </div>

        {# right column #}
        <div class="w3-col m2">
            <div class="w3-card-2 w3-round w3-white w3-center">
                {% include 'default/cart.html.twig' %}
            </div>
        </div>
    </div>



</div>
{% block javascripts %}{% endblock %}
</body>
</html>