{% extends "::base.html.twig" %}

{% block title %}Admin panel{% endblock %}
{% block stylesheets %}
    <style>td {
            border-right: 1px solid lightgray;
            padding: 10px;
        }
        td:first-child{border-left: 1px solid lightgray}
    </style>
{% endblock %}
{% block leftColumn %}
    <div class="w3-card-2 w3-theme-d4">
        <ul class="w3-ul w3-border">
            <a href="{{ path('admin') }}" ><li class="w3-theme-d5 w3-hover-theme">Panel</li></a>
            <a href="{{ path('admin_product_index') }}"><li class="w3-hover-theme">Produkty</li></a>
            <a href="{{ path('admin_category_index') }}"><li class="w3-hover-theme">Kategorie</li></a>
        </ul>
    </div>
{% endblock %}
{% block body %}
    <h1>Welcome to the Admin page</h1>
    <ul class="w3-ul w3-border w3-cell">
        <a href="{{ path('admin_product_index') }}"><li class="w3-hover-theme">Produkty</li></a>
        <a href="{{ path('admin_category_index') }}"><li class="w3-hover-theme">Kategorie</li></a>
    </ul>
{% endblock %}
