{% extends 'AppBundle:Admin:admin.html.twig' %}

{% block body %}
    <div class="w3-responsive">
        {% if user is not null %}
        <div class="w3-padding">
            <h3>Zamówienia użytkownika <span class="w3-text-theme">{{ user.username }}</span></h3>
        </div>
        {% endif %}

        <table class="w3-table-all w3-small">
            <thead class="w3-text-theme">
            <tr>
                <th>ID</th>
                <th>Cena całkowita</th>
                <th>Status płatności</th>
                <th>Status wysyłki</th>
                <th>Data utworzenia</th>
                <th>-</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.totalPrice | number_format(2, ',') }}</td>
                    <td class="w3-center">{{ order.paymentReceived ?
                        '<i class="fa fa-check w3-text-green" aria-hidden="true"></i>' :
                        '<i class="fa fa-times w3-text-red" aria-hidden="true"></i>'}}
                    </td>
                    <td class="w3-center">{{ order.status ?
                        '<i class="fa fa-check w3-text-green" aria-hidden="true"></i>' :
                        '<i class="fa fa-times w3-text-red" aria-hidden="true"></i>' }}
                    </td>
                    <td>{{ order.createdAt | date("d/m/Y H:i") }}</td>
                    <td><a href="{{ path('admin_order_details', { 'id' : order.id }) }}">Zobacz szczegóły</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}